*{
    background-color: #FAF9F6 ;
}

h1{
    font-family: 'Poppins',sans-serif;
    text-align: center;
    font-weight: bold   ;
    size: 80%;
}

h3{
    font-family: 'Poppins',sans-serif;
    text-align: center;
    size: 80%;
}

hr{
   width: 80%; 
}

.container{
    display: flex;
    align-items: flex-start;
    border: 1px solid black;
    border-radius: 35px;
    margin: auto;
    margin-top: 30px;
    width: 80%;
    /* gap between image and text */
    gap: 20px;
    overflow: hidden;
}

.container img{
    border-radius: 50px;
    width: 150px;
    height: auto;
    background-clip: content-box;
}

.card-content{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-top: 20px;
}

.card-content h4{
    font-family: sans-serif;
    margin: 0;
    font-size: x-large;
}

.project-description {
    text-align: left;
    font-family: sans-serif;
    font-weight: lighter;
    color: rgb(49, 44, 44);
    
}

.project-subscript{
    text-align: left;
    font-family: sans-serif;
    font-weight:10;
    color: grey;
}